nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-brand party!hard

    .navbar-right
      .b-navbar__player-controls
        .b-navbar__player-btn
        .b-navbar__player-track
        .b-navbar__player-time
